.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 3em;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.customer-list-header {
  font-size: 2em;
}



.form_group {
  display: flex;
  justify-content: center;
}
.form_input {
  flex-basis: 25%;
}

div.Container {
  display: flex;
  flex-direction: column;
}

div.popup_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.dbBar {
  float: left;
}

div.SearchBar {
  float: right;
}

div.Trainings-bar {
  float: left;
}

.Calendar_Container {
  height: 750px;
}